--extra-index-url https://download.pytorch.org/whl/cu121

absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
attrs
bert-score
certifi
charset-normalizer
click
codebleu
colorama
contourpy
cycler
datasets
dill
evaluate
filelock
fire
fonttools
frozenlist
fsspec
huggingface-hub
human-eval
idna
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
multidict
multiprocess
networkx
nltk
numpy
packaging
pandas
peft
pillow
portalocker
propcache
psutil
pyarrow
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
rouge_score
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
sentencepiece
setuptools
six
sympy
termcolor
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
tree-sitter
tree-sitter-python
typing
typing_extensions
tzdata
urllib3
xxhash
yarl